<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.korit.nomoreback.domain.forum.ForumMapper">

    <insert id="registerForum" useGeneratedKeys="true" keyProperty="postId">
        insert into forum_tb (
            post_title,
            post_content,
            post_created_at,
            moim_id,
            post_category_id,
            user_id
        ) values (
            #{postTitle},
            #{postContent},
            #{createdAt},
            #{moimId},
            #{postCategoryId},
            #{userId}
        )
    </insert>

</mapper>
